body{
    font-family: Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }

/*
12 COLUMNAS
CADA COLUMNA TIENE UN TAMAÑO DE 8.33% CON RESPECTO A LA PANTALLA
Ya cuenta con el display tipo Flex
*/
.margenes_generales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px; /*Tamaño del encabezado*/
    margin-left: 16.66%;  /*2 COLUMNAS*/
    margin-right: 16.66%;  /*2 COLUMNAS*/
    margin-bottom: 10px; /*Espacio Free*/
    border: 1px solid #ff0000;
}

/*
STYLES PARA DIFERENTES TAMAÑOS DE CONTAINERS
Ya que quitando las 4 columnas de los lados, nos quedan 8 columnas dentro
Cada columna tiene un tamaño de 12.5%
*/

.uno,.dos,.tres,.cuatro,.cinco,.seis,.siete,.ocho{
    height: auto; /* Hace que la altura del contenedor se ajuste automáticamente al contenido */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.uno{
    width: 12.5%;
    background-color: #F6C708;

}
.dos{
    width: 25%;
    background-color: #1cf608;

}
.tres{
    width: 37.5%;
    background-color: #fff700;

}
.cuatro{
    width: 50%;
    background-color: #08a7f6;
}
.cinco{
    width: 62.5%;
    background-color: #f6a308;
}
.seis{
    width: 75%;
    background-color: #f760ff;
}
.siete{
    width: 87.5%;
    background-color: #a946fb;
}
.ocho{
    width: 100%;
    background-color: #2f5612;
}

.espaciovacioprueba{
    height: 2000px;
}





/*-------------ANTERIOR CSS---------------------*/

/*border: 4px solid #ed0000;  Añade un borde de 1px sólido con color gris claro */

.margenes_carrusel{
    margin: 0%; /* Establece un margen de 0px alrededor del contenedor */
}

header{
    margin-top: -100px; /*Tamaño del encabezado*/
    display: relative;
    position: fixed;
    width: 100%;

}

.encabezado {
    width:auto;
    height: 60px;
    background: #EEFFE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none
}

.alineado_izq{
    align-items: left;
}

.alineado_der{
    align-items: right;
}

a{
    margin: 0;
    color: black;
    text-decoration: none;
}

.imgI{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}


.img1{
    width: 160px;
    height: 160px;
    border-radius: 200px;
    margin-right: 10px;
}

.imgperfil{
    width: 120px;
    height: 120px;
    border-radius: 200px;
}

.imgopcionespago{
    width: 90px;
    height: 90px;
    border-radius: 15px;
}

.contenedor{
    display: flex;
    margin: 10px 0;
    margin-left: 10px;
}

.cambiarColor:active {
    background-color: #D8D4D4; /* Cambia el color de fondo al hacer clic */
}

.carrusel{
    width:auto;
    max-width: 120cm;
    display: flex;
    overflow-y: auto;
}

.carrusel .img{
    width: 163px;
    height: 163px;
}

nav ul{
    list-style-type: none;
    text-align: center;
    display: flex;

}

.botones, .botonv, .botonrosa{
    display: block;
    background-color: #F6C708;
    text-align: center;
    height: fit-content;
    border-radius: 2em;
    padding: .5em .5em;
    color: aliceblue;
    font-weight: lighter;
    margin: 0;
}

.botonv{
    background-color:#78A55A;
}
.botonrosa{
    background-color:#F5A386;
}

ul{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none
}

#nadademg /*id hecha para la UL de bon¿tones y precios*/
{
    margin-left: 0;
    margin-right: 0;
}

li{

    margin-right: 10px;
    font-weight: bold;
}


nav ul li a{
    display: block;
    padding: .5em 1em;
    margin: .5em;
    text-align: center;
}

.img2{
    margin-top: 30px;
    width: 95px;
}

.pie {
    width: auto;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: fit-content;
    background: #EEFFE0;
    text-align: center; 
}

.pie img {
    display: block; /* Ensure the image is centered */
    margin: 0 auto; /* Center the image horizontally */
}

.Nombre_e{
    justify-content: center;
    text-align: left;
    margin-left: 0px;
    margin-top: 50px;
    font-weight: lighter;
}

.Nombre_p{
    justify-content: center;
    text-align: left;
    margin-right: 0px;
    margin-left: 10px;
}

.descrip_e{
    text-align: left;
    margin-left: 96px;
    font-weight: lighter;
    margin-right: 0;
    font-size:20px ;
}

.descrip_p{
    text-align: left;
    font-weight: lighter;
    margin: 30px 0 0 10px;
    font-size:20px ;
}

.redsocial
{
    margin-top: 30px;
    text-align: left;
    margin-left: 96px;
    font-size:16px;
}

.perfiltitulo{
    display: flex;
    align-content: center;
    margin-top: 20px;
}

.imgp
{
    width: 163px;
    height: 163px;
}


.info_producto{
    display: flex;
}

.pligther{
    font-weight: 12px;
    text-align: center;
}

.imgprod{
    width: 248px;
    height: 248px;
    margin-top: 40px ;
}

.Price{
    font-weight:bold;
    text-align: left;
    font-size: 24px;
}

.search-container {
    background-color: #EEFFE0; /* Color verde pálido claro */
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Centra el contenido dentro de la caja de búsqueda */
}

button {
    padding: 10px 20px;
    margin-right: 10px; 
    background-color: #EEFFE0; /* Color verde pálido claro */
    border-radius: 5px; /* Añade borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.lalal{
    background-color: #f6c60887;
    width:300px;
    border-radius: 20px;
    padding: none;
    margin-bottom: 20px;
    border: none;
}

.button-link {
    text-decoration: none;
    color: inherit;
    margin: 5px;
}

.buttonmenu{
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.card {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-left: 150px;
    background-color: #EEFFE0;
    border-radius: 5px;
    width: 80%; /* Establece el ancho al 80% */
    max-width: 600px; /* Ancho máximo de 600px */
    
}

.Pago-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Centrar el botón */
    width: fit-content; /* Ancho automático según el contenido */
    text-align: center;
    
}

#botonAdd /*para que el botón no tenga margenes usado en producto 1*/
{
    margin-left: 0;
    text-align: center;
}

.h2n{ /*adecue h2 para calificaciones usado en prodcuto1*/
    margin: 6px 0 0 5px;

}

.h3n{ /*adecue h3 para calificaciones usado en prodcuto1*/
    font-size: 15px;
}

.gray{ /*clase para fecha y usuario en producto 1*/
    color: #9E9E9E;
    font-weight: lighter;
}

.flexspace{ /*clase usada para poder justificar el espacio entre componentes, usado en producto1*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexspace1{ /*clase usada para poder justificar el espacio entre componentes, usado en producto1*/
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.flexspace2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.estre{
    width: 35px;
    height: 35px;
}

.Resena
{
    text-align: left;
    font-weight: lighter;
}

.linea_del_tiempo {
    display: flex;
    align-items: center;
}
  
.circle, .circle_first {
    width: 50px;
    height: 50px;
    background-color: rgb(186, 186, 186);
    border-radius: 50%;
    margin-right: 20px;
}
.circle_first{
    background-color: #78A55A;
}
  
.line {
    margin-left: 25px;
    width: 2px;
    height: 20px;
    background-color: rgb(186, 186, 186);
}

.modal{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 440px;
    background-color: #CAD8BF;
    display: none;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    align-items: center;
    z-index: 100;
}

.modal-container {
    height: 90px;
    margin: auto;
    padding: 3em 3.5rem;
    place-items: center;
    grid-auto-columns: 100%;
}

#btn-modaaal
{
    display: none;
}

#btn-modaaal:checked ~.modal{
     display: flex;
}

.modal1{
    position: fixed;
    top: 60px;
    left: 0;
    right: 50px;
    bottom: 240px;
    max-width: 400px;
    background-color: #EEFFE0;
    display: none;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    align-items: center;
    z-index: 100;
}

.modal-container1 {
    height: 90px;
    width: 300px;
    min-width: 100px;
    margin: auto;
    padding: 3em 3.5rem;
    place-items: center;
    grid-auto-columns: 100%;
    position: fixed;
    top: 80px;
    left: 0px;
}


#btn-modal1
{
    display: none;
}

#btn-modal1:checked ~.modal1{
     display: flex;
}


/*Para ventana de cerrar sesión */
.modal2{
    position: fixed;
    top: 340px;
    left: 120px;
    right: 0px;
    bottom: 190px;
    max-width: 400px;
    background-color: #77a894;
    display: none;
    border-radius: 40px;
    align-items: center;
    z-index: 100;
}

.modal-container2 {
    height: 90px;
    width: 300px;
    min-width: 100px;
    margin: auto;
    padding: 3em 3.5rem;
    place-items: center;
    grid-auto-columns: 100%;
    position: fixed;
    top: 290px;
    left: 120px;
}


#btn-modal2
{
    display: none;
}

#btn-modal2:checked ~.modal2{
     display: flex;
}

.h2m{
    margin: 20px 0;
    text-align: center;
}

#buttonmenu{
    margin: 10px 0;
}

.titulov{ /*para titulos color verdes*/
    color:#78A55A;
}

.titulor{ /*titulo paras las reseñas*/
    text-align: left;
}