
body{
    font-family: Geneva, Verdana, sans-serif;
    margin:0%;
}

header{
    margin: 0%;
}

.margenes_generales{
    margin-left: 10%;
    margin-right: 10%;
}

.margenes_carrusel{
    margin: 10%;
    margin-right: 0%; /* Establece un margen de 20px alrededor del contenedor */
}

.encabezado {
    
    width:auto;
    height: 60px;
    background: #EEFFE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none
}


h1{
    color: #78A55A;
    text-align: center;
}

h2{
  margin: 0 163px;
}
h3{
    margin: 20 10px;
    text-align: center;
  }

p{
    text-align: center;
    margin: 0 10px;
}

a{
    color: black;
    text-decoration: none;
}
.imgI{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}


.img1{
    width: 160px;
    height: 160px;
    border-radius: 200px;
    margin-right: 10px;
}

.contenedor{
    display: flex;
    margin: 10px 0;
    margin-left: 10px;
}

.carrusel{
    width:auto;
    max-width: 120cm;
    display: flex;
    overflow-y: auto;
}

.carrusel .img{
    width: 163px;
    height: 163px;
}

nav ul{
    list-style-type: none;
    text-align: center;
    display: flex;
}

.botones{
    display: block;
    background-color: #F6C708;
    text-align: center;
    height: fit-content;
    border-radius: 2em;
    padding: .5em .5em;
    margin: .5em;
    color: aliceblue;
    font-weight: lighter;
    margin-right: 0;
    margin-left: 40px;
}

#botonv{
    margin-left: 10px;
    background-color:#78A55A;
}
#botonrosa{
    margin-left: 10px;
    background-color:#F5A386;
}

li{
    display: inline;
    margin-right: 10px;
    font-weight: bold;
}


nav ul li a{
    display: block;
    padding: .5em 1em;
    margin: .5em;
}

.img2{
    margin-top: 30px;
    width: 95px;
}

.pie{
    width:auto;
    height:fit-content;
    background: #EEFFE0;
}

#Nombre_e{
    justify-content: center;
    text-align: left;
    margin-left: 0px;
    margin-top: 50px;
    font-weight: lighter;
}

#Nombre_p{
    justify-content: center;
    text-align: left;
    margin-right: 0px;
    margin-top: 50px;
    margin-left: 10px;
}

#descrip_e{
    text-align: left;
    margin-left: 96px;
    font-weight: lighter;
    margin-right: 0;
    font-size:20px ;
}

#descrip_p{
    text-align: left;
    font-weight: lighter;
    margin: 30px 0 0 10px;
    font-size:20px ;
}

#redsocial
{
    margin-top: 30px;
    text-align: left;
    margin-left: 96px;
    font-size:16px;
}

.info_empresa{
    display: flex;
    margin-top: 20px;
}

.Productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Productos .imgp
{
    width: 163px;
    height: 163px;
    margin-top: 30px;;
}

.info_producto{
    display: flex;
}

#pligther{
    font-weight: 12px;
    text-align: center;
}

#imgprod{
    width: 248px;
    height: 248px;
    margin-top: 40px ;
}

.Price{
    font-weight:bold;
    text-align: left;
    font-size: 24px;
}

#preciobotones{
    display: flex;
    align-items: center;
    margin-right: 0;
}
#botonescentrados{
    display: flex;
    justify-content: center;
    margin-right: 0;
}
